/*
========================================================================================
    Nextflow config file for running tests
========================================================================================
*/

iridanext.output.path = "${params.outdir}/iridanext.output.json"

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/metadatatransformation/tree/main/tests/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/metadatatransformation/tree/main/tests/data/'
}
